<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaolaWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WaolaWPF.Properties.Settings>
            <setting name="IsSettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowSizeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowSizeHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </WaolaWPF.Properties.Settings>
    </userSettings>
</configuration>